<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
               https://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    <bean id="Car" class="org.example.Car" scope="prototype"></bean>-->
    <bean id="Car" class="org.example.Car" scope="singleton">
        <property name="brand" value="BMW"/>
        <constructor-arg value="Snova"/>
<!--        <property name="model" value="Snova"/>-->
    </bean>


</beans>
