<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
               https://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    <bean id="Car" class="org.example.Car" scope="prototype"></bean>-->
    <bean id="Car" class="org.example.Car" autowire="byType">
        <property name="brand" value="BMW"/>
        <property name="model" value="Snova"/>
<!--        <property name="engine" ref="engine"/>-->
<!--        <constructor-arg value="Snova" index="1"/>-->
<!--        <constructor-arg value="BMW" index="2"/>-->
<!--        <constructor-arg value="Snova" name="brand"/>-->
<!--        <constructor-arg value="BMW" name="model"/>-->

<!--        <property name="model" value="Snova"/>-->
    </bean>

    <bean id="engine1" class="org.example.VolvoEngine" primary="true"></bean>
    <bean id="engine2" class="org.example.TataEngine"></bean>

</beans>
